{:deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  aleph/aleph {:mvn/version "0.5.0"}}
 :aliases
 {:antq
  {:deps
   {com.github.liquidz/antq {:mvn/version "2.2.970"}
    org.slf4j/slf4j-nop {:mvn/version "2.0.6"}}
   :main-opts ["-m" "antq.core"]}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.8.3" :git/sha "7ac1f8d"}}
          :ns-default build}
  :test {:extra-deps
         {criterium/criterium {:mvn/version "0.4.6"}
          lambdaisland/kaocha {:mvn/version "1.70.1086"}}
         :main-opts ["-m" "kaocha.runner"]}}}
